@import "tailwindcss";

@theme {
  --color-better-green: #c0ff00;
}

@font-face {
  font-family: "departure";
  src: url("/fonts/DepartureMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: departure;
}
